.reset-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 100%;
  max-width: 140px;
  margin: 0 0 5px 2px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  background-color: #706752;

  margin-right: 16px;
  border: 0;
  font-family: "Neusa-DemiBold", sans-serif;
  text-transform: uppercase;
  vertical-align: baseline;
}

.reset-button:hover {
  background: #928060;
}
